main
  header

  div.container

    div.button
      span.button--text((click)="themes.useTheme('lightTheme')") Использовать светлую тему

    div.button
      span.button--text((click)="themes.useTheme('darkTheme')") Использовать тёмную тему

    div.button
      span.button--text((click)="themes.useTheme('customTheme')") Использовать кастомную тему

    div.button.button__light
      span.button--text Изменить кастомную тему

    div.button
      span.button--text.button--text__light Изменить цвет фона
      span.button--icon((click)="openPopupColorPicker('background')") Изменить

    div.button
      span.button--text.button--text__light Изменить цвет текста
      span.button--icon((click)="openPopupColorPicker('color')") Изменить

  footer

popup-color-picker(
  (onClose)="closeAll()",
  [changeType]="changeType")
