a.item(
  routerLink="/docs",
  routerLinkActive="item__active",
  [routerLinkActiveOptions]="routerLinkActiveOptions")
  //- span.title Introduction
  span.title Введение
  //- span.description A quick spane into #[code @ngx-eco/ngx-themes]
  span.description Быстрое введение в #[code @ngx-eco/ngx-themes]

a.item(
  routerLink="/docs/start",
  routerLinkActive="item__active",
  [routerLinkActiveOptions]="routerLinkActiveOptions")
  //- span.title Getting started
  span.title Для начала
  //- span.description How to start things right
  span.description Начни правильно

a.item(
  routerLink="/docs/config",
  routerLinkActive="item__active",
  [routerLinkActiveOptions]="routerLinkActiveOptions")
  //- span.title Config
  span.title Конфигурация
  //- span.description Miscellaneous things you need to know...
  span.description Настрой модуль под себя

a.item(
  routerLink="/docs/api",
  routerLinkActive="item__active",
  [routerLinkActiveOptions]="routerLinkActiveOptions")
  //- span.title API
  span.title API
  //- span.description List of available methods
  span.description Список доступных методов

a.item(
  routerLink="/docs/faq",
  routerLinkActive="item__active",
  [routerLinkActiveOptions]="routerLinkActiveOptions")
  //- span.title F.A.Q.
  span.title F.A.Q.
  //- span.description Miscellaneous things you need to know...
  span.description Наиболее частые вопросы



//- span.item--list
//-   a.link(
//-     fragment="",
//-     routerLink="/") Installation
//-   a.link(
//-     fragment="",
//-     routerLink="/") Manipulate modals
//-   a.link(
//-     fragment="",
//-     routerLink="/") Manipulate data
